<form class="row d-flex justify-content-center w-100" [formGroup]="Updateform">
    <div class="w-100 p-3 ">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="loginName" class="form-control" formControlName="Mail" />
            <label class="form-label" for="loginName">Email</label>
        </div>
        <!-- Phone input -->
        <div class="form-outline mb-4">
            <input type="text" id="loginPassword" class="form-control" formControlName="Phone" />
            <label class="form-label" for="loginPassword">Phone</label>
        </div>
        <!-- Location input -->
         <div class="form-outline mb-4">
            <input type="text" id="loginPassword" class="form-control" formControlName="Location" />
            <label class="form-label" for="loginPassword">Location</label>
        </div>
        <div class="form-outline mb-4 d-flex justify-content-center">
            <button (click)="Update()"  class="btn btn-primary btn-block mb-4 w-25 MainButton">Update Details</button>
        </div>     
    </div>
  <!-- Submit button -->
</form>
