<app-navbar></app-navbar>
<div class="row">
    <div class="d-flex flex-column p-3 col-2" [style.height.px]="menulength" style="background-color:#e8eaea ;">
        <ul class="nav nav-pills flex-column mb-auto">
          <li (click)="changeInfrence(0,$event)" class="navItem">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Details
          </li>
          <li (click)="changeInfrence(1,$event)" class="navItem">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Services
          </li >
          <li (click)="changeInfrence(2,$event)" class="navItem">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              User requests
          </li>
          <li (click)="changeInfrence(3,$event)" class="navItem">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Requests
          </li>
          <li (click)="changeInfrence(4,$event)" class="navItem">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Notifications
          </li>
          <li (click)="changeInfrence(5,$event)" class="navItem">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              BookMarks
          </li>
        </ul>
    </div>
    
    <div class="col-10" *ngIf="UserDetails">
      <app-userDetail [UserDetails]="UserDetails" *ngIf="x==1"></app-userDetail>
      <app-user-requests *ngIf="x==2" [userRequests]="UserDetails.userRequests"></app-user-requests>
    </div>
</div>
